<div class="jumbotron">
  <h1 class="display-4">Crypto Wallet</h1>
  <p class="lead">Este é o Crypto Wallet, um aplicativo para cadastrar e acompanhar suas criptomoedas!</p>
  <hr class="my-4">
  <p>Selecione uma das opçoes abaixo:</p>
  <%= render "menu" %>
  </p>
</div>



